<a href="https://colab.research.google.com/github/ri1925/ri/blob/main/tablesumavg.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
c_code=["happy10","justhappy1925","save50","alwayshappy100"]
p=[10,44,50,100]
u_code=input("enter the code : ")
if u_code in c_code:
  index=c_code.index(u_code)
  d_coupan=pay_bill*p[index]/100
  print("amount of discount:",d_coupan)
  f_b=pay_bill-d_coupan
  print("bill after discount: ",f_b)
else:
  print("no discount")
  print(pay_bill)

enter the code : justhappy1925
amount of discount: 440.0
bill after discount:  560.0

In [8]:
c_code=["happy10","justhappy1925","save50","alwayshappy100"]
p=[10,44,50,100]

pay_bill = int(input("enter bill amount : "))

u_code = input("enter the code : ")

if u_code in c_code:
  index = c_code.index(u_code)
  d_coupan = pay_bill * p[index] / 100
  print("amount of discount:",d_coupan)
  f_b = pay_bill - d_coupan
  print("bill after discount: ",f_b)
else:
  print("no discount")
  print(pay_bill)

enter bill amount : 1000
enter the code : save50
amount of discount: 500.0
bill after discount:  500.0

In [ ]:
items_list_store = []
prices_list_store = []
discounts_list_store = []

total_bill = 0
total_discount = 0

n = int(input("Number of Items : "))

for i in range(n):
    item = input(f"Enter item name    {i+1} : ")
    price = int(input(f"Enter price   {i+1} : "))
    disc = int(input(f"Enter discount {i+1} : "))
    items_list_store.append(item)
    prices_list_store.append(price)
    discounts_list_store.append(disc)
    discount_amount = price * disc / 100
    total_bill = total_bill + price
    total_discount = total_discount + discount_amount

payable = total_bill - total_discount
print("*************************************")
print("Total Bill:", total_bill)
print("-------------------------------------")
print("Total Discount:", total_discount)
print("-------------------------------------")
print("Payable Amount:", payable)
print("*************************************")

Number of Items you want to buy: 1
Enter item name   1: pizza
Enter price  1: 100
Enter discount1: 50
*************************************
Total Bill: 100
-------------------------------------
Total Discount: 50.0
-------------------------------------
Payable Amount: 50.0
*************************************

items=[]make blank list ,price,discounnt,------------or items,price,discount=[],[],[]  then append to list  ,,           number of item  input, , , , , , ,  for i in range(n):item=input("enter item) items.append(item)

In [ ]:
item=["pizza","veg-burger","coffee","fries","cake"]
price=[200,300,200,100,200]
discount_amount=[10,20,30,40,50]
for i in range(len(item)):
  print("name of the item :",item[i])
  print("amount of item:",price[i])
  print("amount of discount:",discount_amount[i])
sum=0
discount_amount=0
for i in price:
  sum=sum+i
print("total amount : ",sum)
for i in discount_amount:
  discount_amount

name of the item : pizza
amount of item: 200
amount of discount: 10
name of the item : veg-burger
amount of item: 300
amount of discount: 20
name of the item : coffee
amount of item: 200
amount of discount: 30
name of the item : fries
amount of item: 100
amount of discount: 40
name of the item : cake
amount of item: 200
amount of discount: 50
******************
total amount :  1000

TypeError: can only concatenate list (not "int") to list

In [ ]:
item=["pizza","veg-burger","coffee","fries","cake","cupcake","brownie"]
for i in range(len(item)):
  print(item[i])
a=["apple","mango","banana","date"]
for j in range(len(a)):
  print(j)

pizza
veg-burger
coffee
fries
cake
cupcake
brownie
0
1
2
3

In [ ]:
#list
for i in price:
  total_bill+=i
print(total_bill)


for i in range (len(item)):
  total_bill=total_bill+price[i]

  discouunt=price[i]

In [ ]:
#billing through list
#discount_amt = (sum* discount) / 100
#final_price = sum - discount_amt
#total_bill = total + final_price
item=["pizza","veg-burger","coffee","fries","soup","coke","tea","cake","cupcake","brownie"]
price=[100,60,220,99,200,100,170,500,200,50]
discount=[30,20,40,60,10,35,40,10,20,10]
tprice=0
tdiscount=0
for i in range(len(item)):
  tprice=tprice+price[i]
  tdiscount=tdiscount+discount[i]
  d_amount=price[i]*discount[i]/100
print("Total Bill:",tprice)
print("Total Discount Amount:",tdiscount)
bill=tprice-tdiscount
print("Your Final  Bill Is :",bill)

Total Bill: 1699
Total Discount Amount: 275
Your Final  Bill Is : 1424

In [ ]:
#access index
a=[200,500,400,300]
sum=0
for i in a:
  sum=sum+i
print(sum)

1400

In [ ]:
a=[200,500,400,300]
length=len(a)
sum=0
for i in range(0,length):
  sum=sum+a[i]
print(sum)

1400

In [ ]:
#list -------- is collection of elements . . . . . |||a=[1,12,2,2] ||| a[0]+a[1]=11
a=[2,5,1,9,2,0,0,7]
a.append(10)
print
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[0]+a[1]+a[2]+a[3])
print(a[0:4])
print(a[-5:-1])
print(a[:4])
print(a[:-1])

[2, 5, 1, 9, 2, 0, 0, 7, 10]
2
5
1
9
17
[2, 5, 1, 9]
[2, 0, 0, 7]
[2, 5, 1, 9]
[2, 5, 1, 9, 2, 0, 0, 7]

In [ ]:
a="my name is ridhi"
print(a.upper())
print(a.lower())
print(a.capitalize())

MY NAME IS RIDHI
my name is ridhi
My name is ridhi

In [ ]:
#dis_amt = (p * d) / 100
#final_p = p - dis_amt
#total = total + final_p
item = ["pizza","veg-burger","coffee","fries","soup","coke","non-veg burger","cake","cupcake","brownie"]
price = [100,60,220,99,200,100,170,500,200,50]
discount = [10,20,30,20,10,10,30,10,20,10]

total = 0

i = 0
while i < len(price):
    p = price[i]
    d = discount[i]

    dis_amt = (p * d) / 100

    final_p = p - dis_amt

    total = total + final_p

    i = i + 1

print("Total bill after discount =", total)

Total bill after discount = 1415.2

In [ ]:
a="  i am  ok  "
print(a.strip())
print(a.startswith("i"))

i am  ok
False

In [ ]:
a="i am  ok"
a.replace(" ","")

'iamok'

In [ ]:
a="i am  ok"
print(a.startswith('i'))
b="i am  ok"
print(b.endswith('k'))

True
True

In [ ]:


b="i am a good person"
b.replace("i am ","you are ")

'you are a good person'

In [ ]:
n="xyza"
rev=""
for char in n:
  rev=char+rev
  print(rev)

x
yx
zyx
azyx

In [ ]:
n="xyza"
rev=""
for char in n:
  rev=rev+char
  print(rev)

x
xy
xyz
xyza

In [ ]:
#reverse without inbuild function
n="xy2a"
for char in n[::-1]:
  print(char)

n="xy2a"
print("---------------")
for char in n:
  print(char)

a
2
y
x
---------------
x
y
2
a

In [ ]:
#pallindrome for string
x1="xyyx"
x2=x1[::-1]
if x1==x2:
  print("xyyx is pallindrome")
else:
  print("xyyx is not pallindrome")

xyyx is pallindrome

In [ ]:
#pallindrome for number
n=111
t=n
r=0
while n>0:
  d=n%10
  r=r*10+d
  n=n//10
print(r)
if t==r:
  print("pallindrome")
else:
  print("not pallindrome")

111
pallindrome

In [ ]:
#reversing full string
name="chintu"
rev=name[::-1]
print(rev)
name="chintu"
rev=name[::-2]
print(rev)
name="chintu"
rev=name[::-3]
print(rev)

utnihc
unh
ui

In [ ]:
#len function and formating
x="kaiseho"
for i in x:
  print(i)

for i in range(len(x)):

  print(f"{i}:{x[i]}")

k
a
i
s
e
h
o
0:k
1:a
2:i
3:s
4:e
5:h
6:o

In [ ]:
a="ram"
b="sham"
c=a+b
print(c)
a=6
b=5
c=a+b
print(c)

ramsham
11

In [ ]:
#reversing full string
name="chintu"
rev=name[:-1]
print(rev)
name="chinti"
rev=name[-3:]
print(rev)

chint
nti

In [ ]:
#reversing full string
name="chintu"
rev=name[-1]
print(rev)
#reversing full string
name="chintu"
rev=name[:-2]
print(rev)
name="chintu"
rev=name[:-3]
print(rev)

u
chin
chi

In [ ]:
name="tune mera golden wala chashma becha "
n="rajupaisalaya"
print(name[10:16])
print(name[10:21])
print(n[9:12])
print(name[10:22]+name[22:30]+n [9:14])

golden
golden wala
lay
golden wala chashma laya

In [ ]:
#string is in double
name="ridhima"
print(name[0])
print(name[0:5])
print(name[0:6])
print(name[0:7])
print(name[0:8])

r
ridhi
ridhim
ridhima
ridhima

In [ ]:
#square root
n=2116
s=n**0.5
print(s)

In [ ]:
num = 27
cube_root = num**(1/3)
print(cube_root)

3.0

In [ ]:
#sum of 19 and 20 by while loop
i = 1
sum1 = 0
n1 = 19
while i <= 10:
    pro1 = n1 * i
    print(pro1)
    sum1 = sum1 + pro1
    i = i + 1
print("sum of 19 table:", sum1)
i = 1
sum2 = 0
n2 = 20
while i <= 10:
    pro2 = n2 * i
    print(pro2)
    sum2 = sum2 + pro2
    i = i + 1
print("sum of 20 table:", sum2)

total_sum = sum1 + sum2
avg_19 = sum1 / 10
avg_20 = sum2 / 10
avg_both = (avg_19 + avg_20) / 2

print("total sum of both tables:", total_sum)
print("average of 19 table:", avg_19)
print("average of 20 table:", avg_20)
print("average of both tables:", avg_both)

19
38
57
76
95
114
133
152
171
190
sum of 19 table: 1045
20
40
60
80
100
120
140
160
180
200
sum of 20 table: 1100
total sum of both tables: 2145
average of 19 table: 104.5
average of 20 table: 110.0
average of both tables: 107.25

In [ ]:
#sum of 19 and 20 by for loop
sum_20t = 0
fact = 1
n1 = 20
for i in range(1, 11):
    fact = n1 * i
    sum_20t = sum_20t + fact
    print(fact)
    print(sum_20t)

sum_19t = 0
fact = 1
n2 = 19
for i in range(1, 11):
    fact = n2 * i
    sum_19t = sum_19t + fact
    print(fact)
    print(sum_19t)

sum_19 = sum_19t
sum_20 = sum_20t
total_sum = sum_19 + sum_20
avg = total_sum / 2

print("sum of table 19:", sum_19)
print("sum of table 20:", sum_20)
print("total sum of tables:", total_sum)
print("avg of table:", avg)

20
20
40
60
60
120
80
200
100
300
120
420
140
560
160
720
180
900
200
1100
19
19
38
57
57
114
76
190
95
285
114
399
133
532
152
684
171
855
190
1045
sum of table 19: 1045
sum of table 20: 1100
total sum of tables: 2145
avg of table: 1072.5

In [ ]:

sum_20t = 0
n1 = 20
for i in range(1, 11):
    fact = n1 * i
    sum_20t = sum_20t + fact
    print(fact)
print("sum of 20 table:", sum_20t)

sum_19t = 0
n2 = 19
for i in range(1, 11):
    fact = n2 * i
    sum_19t = sum_19t + fact
    print(fact)
print("sum of 19 table:", sum_19t)

total_sum = sum_20t + sum_19t
avg_20 = sum_20t / 10
avg_19 = sum_19t / 10
avg_both = (avg_20 + avg_19) / 2

print("sum of both tables:", total_sum)
print("average of 20 table:", avg_20)
print("average of 19 table:", avg_19)
print("average of both tables:", avg_both)

20
40
60
80
100
120
140
160
180
200
sum of 20 table: 1100
19
38
57
76
95
114
133
152
171
190
sum of 19 table: 1045
sum of both tables: 2145
average of 20 table: 110.0
average of 19 table: 104.5
average of both tables: 107.25

In [ ]:
#TABLE OF 19 ,ITS SUM ,ITS AVERAGE
i = 1
num = 19
total = 0

print("Table of 19:")
while i <= 10:
    result = num * i
    print(num, "x", i, "=", result)
    total = total + result
    i = i + 1

print("Sum of table =", total)
print("Average of table =", total / 10)

Table of 19:
19 x 1 = 19
19 x 2 = 38
19 x 3 = 57
19 x 4 = 76
19 x 5 = 95
19 x 6 = 114
19 x 7 = 133
19 x 8 = 152
19 x 9 = 171
19 x 10 = 190
Sum of table = 1045
Average of table = 104.5

In [ ]:
#TABLE OF 20 ,ITS SUM ,ITS AVERAGE
i = 1
num = 20
total = 0

print("Table of 20:")
while i <= 10:
    result = num * i
    print(num, "x", i, "=", result)
    total = total + result
    i = i + 1

print("Sum of table =", total)
print("Average of table =", total / 10)