<a href="https://colab.research.google.com/github/ri1925/ri/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
fact=1
sum=0
for i in range(1,6):
  fact=fact*i
  if i%2!=0:

     sum=sum+fact
print(sum)

127

In [ ]:
s=0
for i in range(1,6,2):
  f=1
  for j in range(1,i+1):
    f=f*j
  s=s+f
print(s)

127

In [ ]:
s=0
for i in range(2,7):
  f=1
  for j in range(1,i+1):
    f=f*j
  s=s+f
print(s)

872

In [ ]:
factoriall = 1
su = 0

for i in range(2, 7):
    factoriall = factoriall * i
    if i % 2 == 0:
        su = su + factoriall

print(su)

746

In [ ]:
fact=1
sum=0
for i in range(1,10,4):
  fact=fact*i
  if i%2!=0:

     sum=sum+fact
print(sum)

51

In [ ]:
# 1,5,9 way by range

fact = 1
total = 0

for i in range(1, 10, 4):
    fact = 1
    for j in range(1, i + 1):
        fact *= j
    if i % 2 != 0:
        total += fact

print("Sum of factorials:", total)

Sum of factorials: 363001

In [ ]:
fact = 1
sum = 0
for i in range(1, 7):
    fact = fact * i
    if i % 4 == 1:
        sum = sum + fact
print(sum)

121

In [ ]:
#range 2,6,10
sum=0
for i in range(2, 11, 4):
    fact = 1
    for j in range(1, i + 1):
        fact *= j
    sum += fact
print(sum)

3629522

In [ ]:
#sum of fac from 1-10
fact = 1
sum = 0

for i in range(1, 11):
    fact *= i
    if i % 4 == 2:
        sum += fact

print("Sum of factorials =", sum)

Sum of factorials = 3629522

In [ ]:
sum1 = 0
sum2 = 0
#rangefrom 3,8,13
for i in range(3, 14, 5):
    fact = 1
    for j in range(1, i + 1):
        fact *= j
    sum1 += fact

# rangefrom 13,19,25
for i in range(13, 26, 6):
    fact = 1
    for j in range(1, i + 1):
        fact *= j
    sum2 += fact
totalsum = sum1 + sum2
print("totalSum =",totalsum)

totalSum = 15511210164976098846913926